tensorflow==2.13.0rc1
matplotlib==3.7.1
numpy==1.24.3
tensorflow-datasets==4.9.2
pandas==2.0.2
tqdm==4.65.0
tensorflow-examples @ git+https://github.com/tensorflow/examples.git@a55d94841a9cbf7b3b77d35bf81189fc6010dcc5